.fondoFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #366D9A ,#152D49 70%, #091429);
    margin: 0px;
    height: 30vh;
    padding: 20px;
}
